#reactor-outer {
  background-image: linear-gradient(red, yellow);
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  #reactor-core {
    background: #252525;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
}
